.panel {
  top: 0;
  height: 100%;
  width: 425px;
  position: absolute;
  background-color: white;
  z-index: 100;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.closeIcon {
  margin: 5px 0 0 5px;
  color: grey;
}

/*
Transitions
*/

.panel_in {
  left: 0px;
  -webkit-transition-property: left;
  -webkit-transition-duration: 0.5s;
  transition-property: left;
  transition-duration: 0.5s;
}

.panel_out {
  left: -425px;
  -webkit-transition-property: left;
  -webkit-transition-duration: 0.5s;
  transition-property: left;
  transition-duration: 0.5s;
}
