.panel {
  top: 0;
  height: 100%;
  width: 400px;
  position: absolute;
  background-color: white;
  z-index: 300;
}

.closeIcon {
  margin: 5px 0 0 5px;
  color: grey;
}

/*
Transitions
*/

.panel_in {
  left: 0px;
  -webkit-transition-property: left;
  -webkit-transition-duration: 1s;
  transition-property: left;
  transition-duration: 1s;
}

.panel_out {
  left: -400px;
  -webkit-transition-property: left;
  -webkit-transition-duration: 1s;
  transition-property: left;
  transition-duration: 1s;
}
