.queryBoxContainer {
  height: 40px;
  width: 350px;
  position: absolute;
  z-index: 100;
  background-color: white;
  margin-top: 10px;
}

.searchInput {
  height: 20px;
  width: 85%;
  border-top: none;
  border-bottom: 1px solid #4885ed;
  border-left: none;
  border-right: none;
  margin: 10px 15px 0 5px;
  display: inline-block;
  }

.searchIcon {
  display: inline-block;
  color: #4885ed;
}

/*
Transitions
*/
.query_in {
  top: 40px;
  left: 10px;
  position: absolute;
  -webkit-transition-property: left;
  -webkit-transition-duration: 1s;
  transition-property: left;
  transition-duration: 1s;
}

.query_out {
  top: 40px;
  left: -350px;
  position: absolute;
  -webkit-transition-property: left;
  -webkit-transition-duration: 1s;
  transition-property: left;
  transition-duration: 1s;

}